.menucriancas {
  margin-top: 5%;
  margin-inline: 25%;
}

.btn-add-icon {
  width: 64px;
  height: 64px;
  padding: 0;
  margin: 4%;
}

.add-icon {
  font-size: 64px;
  line-height: 64px;
}

p {
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  margin: 0%;
  text-align: center;
}
