<div class="navbar-fixed" style="z-index: 1001 !important">
  <nav class="menubackground">
    <div class="container">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">
          <img class="menuimage" src="..\assets\resources\images\vacina-check-64-color.png"
          />
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="criancas.html">Crianças</a></li>
          <li><a href="vacinas.html">Vacinas</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo" #mobile>
    <li><a href="criancas.html">Crianças</a></li>
    <li><a href="vacinas.html">Vacinas</a></li>
  </ul>
</div>
