.logo {
  text-align: center;
  vertical-align: middle;
}

.imagemlogo {
  display: inline-block;
  margin: 1%;
}

.titulologo {
  color: #3700B3;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
  vertical-align: top;
}

.subtitulologo {
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  text-align: center;
}
