<div class="intro">
  <div class="container">
    <ul class="collection" *ngFor="let c of this.criancas">
      <li class="collection-item avatar">
        <img src="/assets/resources/images/icons8-{{c.sexo}}-64.png" class="circle">
        <span class="title">{{c.nome}}</span>
        <p>{{c.dataNascimento}}<br>
          {{c.sexo}}
        </p>
        <!-- Esta usando routerLink com parametro obrigatório para passar o id da crianca -->
        <a [routerLink]="['/crianca', c.id]" class="secondary-content"><i class="material-icons">assignment_ind</i></a>
      </li>
    </ul>
  </div>
</div>
